body{
    border: black solid 5px;

}


.header{
    background-color: white ;
    /* border: black solid 2px; */
    
}

.layer1-header{
    display:flex;
}

.layer1-header ul{
    display: flex ;
    gap: 20px;
    list-style-type: none;
    margin-left: 450px;
    margin-right: 50px;
    flex-shrink: 0;
}
.layer1-header a{
text-decoration: none;
color : #301934;
font: 18px Roboto ; 
}
.header-logo{
    color : black;
    font: 18px Roboto ;
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}

.layer2-header{
    display: flex;
}

.layer2-header .About-webpage{
    font: 14px Roboto ;
    color : black;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 15px;
    height: 250px;
}


.About-webpage button{
    align-self: center;
    background-color: plum; 
    color:  purple; 
    margin-top: 30px;
    margin-left: 200px;
    border: #301934 solid 2px;


}

.About-webpage h1{
    color: purple ;
    font: 48px ;
    font-weight: 900;
    padding-left: 150px;
}
purple{
    color: purple ;

}
green{
    color: #006400;
}
red{
    color: #301934;
}

.layer2-header img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-right: 35px;
}
RIGHTRED{
    color: red;
}



.products-display{
    /* border: #8B0000 solid 2px;  */
    /* background-color: #FFd1df ;  */
}


.products-display img{
    width: 220px;
    height: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.products-display .product-description {
    display: flex;
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    gap: 15px;
    justify-items: space-between;
}
.product-description button{
    width: 220px;
    height: 50px;
    background-color: #b88a44;
    color: yellow;
    border: brown;

}
.product-description a{
    color: yellow;
    text-decoration: none

}

.products-display h2{
    color: #006400;
    margin-left: 400px;
    font: 30px ravie regular 900;  
}

.buy-fromus h2{
    color: #301934 ;
    margin-left: 300px;
}
.buy-fromus purple{
    margin-left: -150px
}
.patriotism{
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;


}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 200px;
    height: 250px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 15px;
    background-color: #C2B280;
}

.patriotism-images img{
    width: 230px;
    height: 220px;
    margin-top: 30px;
    margin-bottom:15px ;
    margin-left: 30px;
}

.buy-fromus{
    background-color: #FFFFE0; 
    /* border: #BA8E23 solid 2px; */
}
.call-for-action{
    background-color: #d1ffbd;
    /* border: #006400 solid 2px ; */
    padding-top: 50px;
}

.call-for-action h3{
    margin-left: 260px;
    color: darkgreen
}


.call-for-action ul{
        list-style-type: none;


}
.call-for-action button{
    margin-left: 350px;
    margin-bottom: 15px;
    background-color: green;
    height: 30px;

}

.call-for-action p{
    margin-left: 250px;

}

.call-for-action li{
    margin-left: 100px;

}
