body{
    border: black solid 5px;
}


.header{
    background-color: #301934 ;
    color: white;
    /* border: black solid 2px; */ 
}

.layer1-header{
    display:flex;
}

.layer1-header ul{
    display: flex ;
    gap: 20px;
    list-style-type: none;
    margin-left: 450px;
    margin-right: 50px;
    flex-shrink: 0;
}

.layer1-header a{
    text-decoration: none;
    color : white;
    font: 18px Roboto ; 
}

.header-logo{
    color : white;
    font: 18px Roboto ;
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}

.layer2-header{
    display: flex;
}

.layer2-header .About-webpage{
    font: 14px Roboto ;
    color : white;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 15px;
    height: 250px;
}


.About-webpage button{
    align-self: center;
    background-color: plum; 
    color:  purple; 
    margin-top: 30px;
    margin-left: 200px;
    border: #301934 solid 2px;
}
.About-webpage a{
    text-decoration: none;

}
 

.About-webpage h1{
    color: purple ;
    font: 48px ;
    font-weight: 900;
    padding-left: 150px;
}
purple{
    color: purple ;

}
green{
    color: #006400;
}
red{
    color: white;
}

.layer2-header img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-right: 35px;
}
RIGHTRED{
    color: red;
}



.products-display{
    /* border: #8B0000 solid 2px;  */
    /* background-color: #FFd1df ;  */
}


.products-display img{
    width: 220px;
    height: 200px;
    margin-top: 30px;
    gap: 50px;
    margin-left: 15px;
    border: solid #301934 2px ;
}

.products-display .product-description {
    display: flex;
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    gap: 40px;
    justify-items: space-between;
}
.product-description button{
    width: 220px;
    height: 50px;
    background-color: purple;
    color: yellow;
    border: #301934 solid 2px;

}
.product-description a{
    color: yellow;
    text-decoration: none

}

.products-display h2{
    color: #006400;
    margin-left: 600px;
    font: 30px ravie regular 900;  
}

.buy-fromus h2{
    color: #301934 ;
    margin-left: 300px;
}
.buy-fromus purple{
    margin-left: -150px
}
.patriotism{
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.card{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    color: #301934;
    border: #301934 solid 2px;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 1350px;
    height: 300px;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 13px ;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color:  #DAB1DA;
}
.card h4{
    COLOR : purple;
}



.buy-fromus{
    background-color: #F6CEFC; 
    height: 450px;
    /* border: #BA8E23 solid 2px; */
}
.last-content{
    background-color: white;

}
.call-for-action{
    background-color: pink;
    height: 150px;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 15px;
    border: #530000 solid 2px;
}

.call-for-action h3{
    margin-left: 260px;
    color: #460000;
}



.call-for-action ul{
        list-style-type: none;
        color: #530000;


}
.call-for-action button{
    margin-left: 450px;
    margin-bottom: 15px;
    background-color: #ff474c;
    height: 30px;
    color: #530000;



}

.call-for-action p{
    margin-left: 250px;

}

.call-for-action li{
    margin-left: 100px;

}


footer{
    background-color: #301934;
    height: 30PX;
    justify-items: center;
}

footer .copyright{
    display: flex;
    color: white;
    padding-top: 5px;
}
